[submodule "Page"]
	path = Page
	url = git@github.com:RevisionHub/Backend.git
[submodule "User"]
	path = User
	url = git@github.com:RevisionHub/User.git
[submodule "CommonLib"]
	path = CommonLib
	url = git@github.com:RevisionHub/CommonLib.git
[submodule "Backend"]
	path = Backend
	url = git@github.com:RevisionHub/Backend.git
